body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
}

#logo-container {
  text-align: center;
}

#logo {
  width: 55%;
}

h1, h2 {
  text-align: center;
}

h4 {
  font-weight: normal;
  font-style: italic;
}

nav {
  text-align: center;
  background-color: grey;
  line-height: 60px;
  margin-bottom: 40px;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  display: inline;
}

.nav-link {
  font-size: 22px;
  margin: 0 30px;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #ff8000;
}

#video-wrapper {
  text-align: center;
  margin: 50px;
}

.bio {
  margin-bottom: 50px;
  display: inline-block;
}

.bio img {
  width: 400px;
  float: left;
  margin-right: 20px;
}

.bio-header, .bio-body {
  margin-left: 400px;
}

.bio-header h3, h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bio-body {
  width: 50%;
}
